<div class="create-event-container">
    <h1>Event Title</h1>
    <textarea type="text" class="event-title-input" placeholder="Enter event title" /></textarea>
    <div class="time-inputs">
        <div class="event-start-time" id="event-start-time">
        </div>

        <div class="event-end-time" id="event-end-time">
        </div>
    </div>
</div>

<div class="event-submission-container">
    <div class="event-submission-confirmation">
        <div class="spinner"></div>
        <img class="symbol">
        <p class="confirmation-text"></p>
    </div>
</div>
