.dialog-wrapper {
  padding: 25px;
}

.spinner-wrapper {
  padding-left: 125px;
  display: flex;
  justify-items: center;
}

.message {
  padding-top: 25px;
  text-align: center;
  font-family: var(--main-font);
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--booking-spinner-color);
}

.icon-wrapper {
  padding-left: 75px;
  display: flex;
  justify-items: center;
}

.success-icon {
  height: 200px;
  width: 200px;
  color: var(--booking-success-color);
}

.failure-icon {
  height: 200px;
  width: 200px;
  color: var(--booking-failure-color);
}
