.availability-toolbar {
  background-color: var(--room-available-color);
  height: 55px;
  color: var(--toolbar-text-color);
  font-size: 28px;
  font-style: oblique;
}

.back-button {
  background-color: transparent;
  color: var(--toolbar-text-color);
  border: 2px solid var(--toolbar-text-color);
  padding: 0px;
}

.toolbar-spacing {
  width: 2%;
}

app-time {
  width: 100%;
  height: 100%;
  margin-right: 10%;
}

.schedule-scroll-list {
  height: 90%;
  width: 90%;
}

.empty-schedule-message {
  color: var(--empty-schedule-message-color);
  font-size: 24px;
  text-align: center;
  padding-top: 35%;
  width: 100%;
  height: 100%;
}
