<div class="schedule-list">
    <!-- <div class="schedule-item">
        <div class="schedule-item-header">
            <h2 class="schedule-item-title">Couch Meeting</h2>
        </div>
        <div class="schedule-item-content">
            <p class="schedule-item-length">1 Hours 15 Minutes</p>
            <p class="schedule-item-times">11:42 AM - 12-14 PM</p>
        </div>
    </div>

    <div class="schedule-item">
        <div class="schedule-item-header">
            <h2 class="schedule-item-title">Couch Meeting</h2>
        </div>
        <div class="schedule-item-content">
            <p class="schedule-item-length">1 Hours 15 Minutes</p>
            <p class="schedule-item-times">11:42 AM - 12-14 PM</p>
        </div>
    </div> -->    
</div>