/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  margin: 0;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  margin: 0;
}
